.actividades-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: auto;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.177);
}

.calendario-lista-mes {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--blanco);
  padding: 15px;
  border-radius: 10px;
}

.calendario-lista-mes-actividad-mes {
  margin-bottom: 12px;
}

.calendario-item-mes-calificar {
  position: absolute;
  top: 25%;
  left: 85%;
  width: 150px;
  padding: 8px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: var(--verde-exito);
  color: white;
  cursor: pointer;
}

.calendario-item-mes {
  position: relative;
  background-color: #28a7461b;
  box-sizing: border-box;
  border-radius: 8px;
  border: 2px solid var(--verde-exito);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
  padding: 10px;
}

.calendario-item-mes-fechas {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.calendario-item-mes-fechas-inicio {
  font-size: 15px;
  font-weight: bold;
  color: var(--verde-exito);
}

.calendario-item-mes-fechas-fin {
  font-size: 15px;
  font-weight: bold;
  color: var(--rojo-error);
}

.actividades-tarjetas-modulos {
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.144);
  border-radius: 10px;
  border-left: 3px solid var(--rojo-institucional);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.actividades-tarjetas-modulos span {
  color: var(--rojo-institucional);
  font-weight: bold;
  font-size: 20px;
}

.actividades-tarjetas-modulos p {
  color: var(--gris-principal);
  font-size: 13px;
  font-weight: 500;
}

.actividades-tarjetas-modulos button {
  width: 100%;
  padding: 5px;
  color: white;
  font-weight: bold;
  background-color: var(--rojo-institucional);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.2 ease;
}

.actividades-tarjetas-modulos button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.155);
}

.calendario-contenedor {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.177);
  overflow: hidden;
}

.calendario-contenedor-titulo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: rgb(210, 210, 210);
  font-size: 13px;
  padding: 10px;
  width: 100%;
  background-color: var(--rojo-institucional);
}

.calendario-contenedor-mes {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--gris-principal);
  font-weight: bold;
  font-size: 20px;
  align-items: center;
}

.calendario-contenedor-select {
  position: absolute;
  top: 10%;
  left: 80%;
}

.calendario-contenedor-select select {
  padding: 8px 15px;
  background-color: white;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.calendario-contenedor-titulo section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 26px;
}

.calendario-contenedor-dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: auto;
  padding: 10px;
}

.calendario-contenedor-dias-seleccion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--rojo-institucional);
  color: white;
  font-weight: bold;
}

.calendario-container-modal-fondo {
  display: flex;
  top: 0%;
  left: 0%;
  position: fixed;
  justify-content: center;
  z-index: 10;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.474);
  width: 100vw;
  height: 100vh;
}

.calendario-container-modal {
  width: 400px;
  height: 450px;
  background-color: white;
  overflow: hidden;
  border-radius: 15px;
}

.calendario-container-modal section {
  width: 100%;
  background-color: var(--rojo-institucional);
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: bold;
  position: relative;
}

.calendario-container-modal-tareas {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  color: var(--gris-principal);
  margin-top: 40px;
  gap: 20px;
  width: 100%;
  height: 300px;
  overflow-y: auto;
  align-items: center;
}

.calendario-container-modal-tareas-fechainicio {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px var(--verde-exito);
  background-color: var(--verde-exito);
}

.calendario-container-modal-tareas-fechafin-fechainicio {
  position: relative;
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 10px 30px;
  transition: all 0.2s ease;
}

.calendario-container-modal-tareas-fechafin-fechainicio:hover {
  background-color: rgba(191, 191, 191, 0.319);
}

.flecha {
  position: absolute;
  top: 20%;
  left: 90%;
  transition: all 0.2s ease;
}

.calendario-container-modal-tareas-fechafin-fechainicio:hover .flecha {
  color: var(--verde-exito);
}

.calendario-container-modal-tareas-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.calendario-container-modal-tareas-btn button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--rojo-institucional);
  cursor: pointer;
}

.calendario-container-modal-tareas-btn button:hover {
  background-color: var(--rojo-hover);
  transform: translateY(-2px);
}

.calendario-container-modal-salir {
  position: absolute;
  top: 30%;
  left: 90%;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
