.Login-container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px; /* Reducido de 150px a 50px para centrar mejor */
  border-radius: 25px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.4);
  height: 500px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: white;
  z-index: 2;
  position: relative;
}

.Login-padre {
  padding: 20px;
}

.Login-container-2 {
  width: 50%;
  height: 100%;
  background: var(--rojo-institucional);
  padding: 20px;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

.Login-container-3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login-logo {
  width: 120px;
  height: 120px;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.5s ease, filter 0.7s ease;
}

.Login-logo:hover {
  transform: translateY(-8px);
  filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 0.301));
}

.Login-container-3 a {
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 50px;
}

.Login-container-3 section {
  width: 300px;
  height: auto;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  text-align: center;
}

.Login-container-3 h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-top: 60px;
}

.Login-container-4 {
  width: 100%;
  height: 70px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Login-container-4 div {
  border-radius: 25px;
  width: 120px;
  height: 40px;
  border: 3px white solid;
  transition: all 0.4s ease;
}

.whatsapp {
  display: flex;
  align-items: center;
}

.whatsapp:hover {
  border: 3px rgb(1, 207, 1) solid;
  background-color: rgba(0, 237, 0, 0.096);
}

.whatsapp:hover h2 {
  color: rgb(1, 207, 1);
}

.whatsapp:hover svg {
  color: rgb(1, 207, 1);
}

.instagram {
  display: flex;
  align-items: center;
}

.instagram:hover {
  border: 3px rgb(207, 1, 73) solid;
  background-color: rgba(232, 2, 82, 0.111);
}

.instagram:hover h2 {
  color: rgb(207, 1, 73);
}

.instagram:hover svg {
  color: rgb(207, 1, 73);
}

.facebook {
  display: flex;
  align-items: center;
}

.facebook:hover {
  border: 3px rgb(1, 135, 207) solid;
  background-color: rgba(1, 135, 207, 0.1);
}

.facebook:hover h2 {
  color: rgb(1, 135, 207);
}

.facebook:hover svg {
  color: rgb(1, 135, 207);
}

.network {
  display: flex;
  align-items: center;
}

.network:hover {
  border: 3px rgb(80, 80, 80) solid;
  background-color: rgba(80, 80, 80, 0.149);
}

.network:hover h2 {
  color: rgba(80, 80, 80);
}

.network:hover svg {
  color: rgba(80, 80, 80);
}

.Login-container-4 svg {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  color: white;
  transition: all 0.5s ease;
}

.Login-container-4 h2 {
  color: white;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  transition: color 0.5s ease;
}

.Login-fondo {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, white 30%, #ff0000a8 100%);
  z-index: 0;
}

.Login-container-5 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  width: 50%;
  padding: 10px;
  height: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.Login-container-5 h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
}

.Login-conetendor-Inputs {
  width: 100%;
  max-width: 420px;
  margin: auto;
  height: 130px;
  padding: 20px;
  align-items: center;
  background-color: white;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.4);
  border-radius: 15px;
}

.Login-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.Login-form input {
  outline: none;
}
.Login-form input:focus {
  border: var(--rojo-institucional) 1px inset;
  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.377);
}

.Login-Inputs {
  width: 96%;
  margin-left: 2px;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  background-color: rgb(239, 238, 238);
}

.Login-conetendor-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: auto;
  height: 100px;
  margin-top: 20px;
}

.Login-buttons {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: none;
  font-weight: bold;
  color: white;
  background: var(--rojo-institucional);
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.Login-buttons:hover {
  transform: translateY(-5px);
}

.show-password-btn {
  position: absolute;
  top: 52%;
  left: 89%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 20px;
}

@media (max-width: 1000px) {
  .Login-container-4 div {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* para que sean circulares */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* quitar padding si había */
  }

  .Login-container-4 h2 {
    display: none; /* ocultar texto dentro de los botones */
  }

  .Login-container-4 svg {
    margin-left: 0; /* centrar icono dentro del círculo */
  }

  .Login-container-4 {
    justify-content: center;
  }

  .Login-conetendor-Inputs {
    max-width: 300px;
  }
  .show-password-btn {
    left: 88%;
  }
}
@media (max-width: 560px) {
  .Login-container {
    flex-direction: column-reverse;
    height: 1000px;
  }
  .Login-container-2 {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .Login-container-5 {
    width: 100%;
  }
  .Login-conetendor-buttons {
    max-width: 300px;
  }
  .show-password-btn {
    top: 26%;
    left: 81%;
  }
  .Login-fondo {
    height: 1300px;
  }
}
