.navbar {
  background-color: #dc3545;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-radius: 20px;
  height: 85px;
  margin-top: 10px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  height: 100px;
  padding: 5px;
}

.rafaelpombo-logo {
  height: 85px;
  width: auto;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
}

.user-welcome {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.logout-btn {
  background-color: white;
  color: #00184bc5;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-btn:hover {
  background-color: #011134c5;
  color: white;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar-content {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .user-info {
    width: 100%;
    justify-content: space-between;
  }
}
