.navbar {
  background: linear-gradient(to right, #00184bc5 10%, rgb(1, 1, 70) 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}



.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  margin: 10px 20px auto;
  margin-bottom: 10px;
  height: 100px;
  padding: 5px;
}

.logo-container a {
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.rafaelpombo-logo {
  height: 85px;
  margin-top: 10px;
  width: auto;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 120px;
  gap: 15px;
  justify-content: flex-end;
}

.user-welcome {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.logout-btn {
  background-color: white;
  color: #00184bc5;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-btn:hover {
  background-color: #011134c5;
  color: white;
}

/* Responsive design */
@media (max-width: 1024px) {
  .logo-text {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    
  }

  .user-welcome {
    font-size: 1.1rem;
  }
  
  .rafaelpombo-logo {
    height: 70px;
  }
}

@media (max-width: 768px) {
  .navbar-content {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .user-info {
    width: 100%;
    justify-content: space-between;
  }
}
