.fondo_negroV {
  width: 100vw;
  height: 100vh;
  z-index: 80;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.408);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalV {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
  height: 500px;
}

.EncabezadoV {
  width: 100%;
  height: 20%;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.323);
}

.EncabezadoV h1 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.EncabezadoV span {
  position: absolute;
  top: 40%;
  left: 90%;
  font-weight: bold;
  cursor: pointer;
}

.Targetas_ContainerV {
  width: 100%;
  height: 80%;
  padding: 20px;
  gap: 10px;
  position: relative;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inf {
  position: absolute;
  top: 30%;
  left: 35%;
  font-weight: bold;
}

.targetaV {
  width: 100%;
  position: relative;
  overflow: hidden;
  max-width: 300px;
  height: 130px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.37);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.508);
  display: flex;
  color: white;
}
.targetaV2 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.targetaV .div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}
