.contenedor1V {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.contenedor2V {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 1000px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.SpanV {
  position: absolute;
  top: 13%;
  left: 95%;
  font-weight: bold;
  cursor: pointer;
}
.H2V {
  margin-bottom: 20px;
  color: #000;
  text-align: center;
}

.contenedor3V {
  border: 2px solid red;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.581);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.contenedor3V p {
  font-weight: bold;
  color: var(--rojo-institucional);
}

.contenedorTable1 {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

.TrV {
  background-color: #f0f0f0;
  color: #000;
}

.ThV {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
  z-index: 10;
}

.Tr2V:nth-child(even) {
  background-color: #fff;
  text-align: center;
}

.Tr2V:nth-child(odd) {
  background-color: #f9f9f9;
  text-align: center;
}

.TdV {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}
